.error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: #545050;
}

.error__title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
